body {
  background-color: #111827;
  color: white;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;
  background: #1a1630;
  color: white;
  border-bottom: 2px solid #374151;
}

nav button {
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;

  background-color: #374151;
  color: white;

  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}

nav button:hover {
  background-color: #7700b8;
}

.hero {
  background: linear-gradient(135deg, #1e3a8a, #7c3aed);
  color: white;
  padding: 0.5rem;
  text-align: center;
  border: 5px solid black;
}

.hero h1 {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}

.site-title {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #60a5fa, #a78bfa);
  background-clip: text;
  color: transparent;
}

.timeline-layout {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;

  height: calc(100vh - 250px);
  overflow: hidden;
}

.timeline-container {
  position: relative;
  display: flex;
  gap: 1rem;

  padding: 1rem;

  flex-direction: column;
  flex: 2;
  overflow-x: hidden;
  overflow-y: auto;
}

.timeline-event {
  padding: 1rem;
  border: 3px solid #2563eb;
  box-sizing: border-box;

  font-family: "JetBrains Mono", monospace;
  font-size: 0.75rem;

  cursor: pointer;
  border-radius: 12px;
  transition: 0.2s;
}

.timeline-event:hover {
  transform: scale(1.02);
  background: #dbeafe;
  color: black;
}

.timeline-event.active {
  background: #dbeafe;
  color: black;
}

.timeline-details {
  flex: 3;

  font-family: "JetBrains Mono", monospace;
  font-size: 1.5rem;
  color: black;

  margin: 1rem 1rem 1rem 0;
  padding: 2rem;

  border: 3px solid blue;
  border-radius: 16px;
  background: #dbeafe;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
